<div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="height: 300px; width: 400px;" src="../assets/img/logoclara.png" class="d-block w-100" alt="slide um">
          </div>
          <div class="carousel-item">
            <img style="height: 300px; width: 400px;" src="../assets/img/slide2.png" class="d-block w-100" alt="slide dois">
          </div>
          <div class="carousel-item">
            <img style="height: 300px; width: 400px;" src="../assets/img/slide3.png" class="d-block w-100" alt="slide tres">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    
    <div class="borda">
        
    </div>
    <!-- <button class="btn btn-primary" (click)="listaVaga()">
        Buscar
    </button> -->
     <div class="margem-superior">
        <app-vagas-lista></app-vagas-lista>
     </div>
</div>


