<!DOCTYPE html>
<html lang="pt-br">



<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 300px; width: 400px;" src="../assets/img/logoclara.png" class="d-block w-100" alt="slide um">
      </div>
      <div class="carousel-item">
        <img style="height: 300px; width: 400px;" src="../assets/img/slide2.png" class="d-block w-100" alt="slide dois">
      </div>
      <div class="carousel-item">
        <img style="height: 300px; width: 400px;" src="../assets/img/slide3.png" class="d-block w-100" alt="slide tres">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./home.component.css" rel="stylesheet">
    <title>Greeting</title>
</head>
  <body>
 

    <main>
        <aside>
           <h2>"Será que tem <span>vaga</span> na </h2>
           <br>
           <br>
           <h2>minha cidade!?"</h2>
           <br>
           <br>
           <br>
                
                

        <p>Informe qual localidade você deseja e veja a vaga mais proxima de você!

        </p>

        <form>
            
            <input type="submit" value="Enviar >"  (click)="listaVaga()">          
        </form>
    </aside>
    <article>
        <img src="../assets/img/homeimg1.png" alt="minion">
    </article>
    </main>
    
</body>
</html>